#row_content{
	position: static;
}
body{
    font-family: '微軟正黑體';
}
/*
@media (max-width: 768px){
}*/
@media (min-width: 0px) and (max-width: 992px) {
#newsd_area{
    overflow: hidden;
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
}
#topimage{
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
}
#smpic{
    margin-top:20px;
    padding-left: 0px;
    padding-right: 0px;
}
#dtopifo{
    margin-top:20px;
    padding-left: 0px;
    padding-right: 0px;
}
#dtitle{
    font-size: 16px;
    font-weight: 900;
}
#difo{
    font-size: 12px;
    font-weight: 900;
    margin-top:10px;
    height: 140px;
}
#ddes{
    height: auto;
    margin-top: 55px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    font-size: 16px;
    font-weight: 900;
}

}
@media (min-width: 992px) and (max-width: 1500px) {
#newsd_area{
    overflow: hidden;
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
}
#topimage{
    height: 500px;
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
}
#smpic{
    height: 255px;
    margin-top: 55px;
}
#dtopifo{
    margin-top: 55px;
}
#dtitle{
    font-size: 28px;
    font-weight: 900;
    height: 90px;
}
#difo{
    font-size: 16px;
    font-weight: 900;
    margin-top:25px;
    height: 140px;
}
#ddes{
    height: auto;
    margin-top: 55px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 900;
}



}
@media (min-width: 1500px){
#newsd_area{
    overflow: hidden;
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
}
#topimage{
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
}
#smpic{
    height: auto;
    margin-top: 55px;
}
#dtopifo{
    margin-top: 55px;
}
#dtitle{
    font-size: 28px;
    font-weight: 900;
    height: 90px;
}
#difo{
    font-size: 16px;
    font-weight: 900;
    margin-top:25px;
    height: 140px;
}
#ddes{
    height: auto;
    margin-top: 55px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 900;
}    
}