/*
 * a 標籤不要底線跟顏色變換
 */
#detail_btm{
    /*display: none;*/
}
a:hover   {color:white; text-decoration:none; outline: none !important;} 
a:link    {color:white; text-decoration:none; outline: none !important;} 
a:visited {color:white; text-decoration:none; outline: none !important;} 
a:active  {color:white; text-decoration:none; outline: none !important;}
div:hover {
  outline: none !important;
}
div:link{
  outline: none !important;
}
div:visited{
  outline: none !important;
}
div:active{
  outline: none !important;
}
button:hover{
  outline: none !important;
}
button:link{
  outline: none !important;
}
button:visited{
  outline: none !important;
}
button:hover{
  outline: none !important;
}
#alert{


  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}
.panel{
    background-color: #fdfbf1!important;
}
/*
@media (max-width: 768px){
}*/
@media (min-width: 0px) and (max-width: 992px) {
    a:hover   {color:white; text-decoration:none;} 
    a:link    {color:white; text-decoration:none;} 
    a:visited {color:white; text-decoration:none;} 
    a:active  {color:white; text-decoration:none;}
  #allBox{
    background-color: #fdfbf1;
  }    
    #alert{
      position: fixed;
      width: 100%;
      height: 60px;
      background: url('../image/home/warning_rwd.jpg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      bottom: 0;
      right: 0;
      background-color: #250526;
      z-index: 20;
    }
    #m_menu{
        height: 60px;
        background-color:#752761;
        padding-right: 0px;
        padding-left: 0px; 
    }
    #row_content{
        display: none;
    }

    #m_member{
        height: 100%;
        background-image:url('../image/home/membericon_hp_RWD_phone_grid.png');
        background-size: 39px 51px;
        background-repeat: no-repeat;
        background-position: center center;
    }
    #m_logo{
        height: 100%;
        background-image: url('../image/home/logo_hp_RWD_phone_grid.png');
        background-size: 195px 41px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    #m_list{
        padding-right: 0px;
        padding-left: 0px; 
    }
    #nav-icon3{
        margin:20px auto; 
        width: 30px;
        height: 45px;
        position: relative;
        /*margin: 50px auto;*/
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    #nav-icon3 span{
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: white;
      /*border-radius: 9px;*/
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
    }
    #nav-icon3 span:nth-child(1) {
      top: 0px;
    }
    
    #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
      top: 12px;
    }
    
    #nav-icon3 span:nth-child(4) {
      top: 24px;
    }
    
    #nav-icon3.open span:nth-child(1) {
      top: 12px;
      width: 0%;
      left: 50%;
    }
    
    #nav-icon3.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    
    #nav-icon3.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    #nav-icon3.open span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }

    #m_menu_body{
        position: absolute;
        top:60px;
        z-index: 200;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgba(117,39,97,0.8);
        display: none;
        padding-right: 0px;
        padding-left: 0px;
    }
    /*手機板menu中移除padding*/
    #m_menu_body>ul{
      padding: 0px;
      padding-right: 20px;
      padding-left: 20px;
    }
    #m_menu_body>ul>li{
      text-align: left;
      list-style: none;
      color:white;
      padding-top: 10px;
      padding-left: 10px;
      font-size: 18px;
      font-weight: 500;
      font-family: '微軟正黑體';
      width: 100%;
      border-bottom:1px solid white;
    }
    #m_menu_body>ul>li>span{
      height: 10px;
      width: 10px;
    }
    #m_menu_body>ul>li>ul>li{
      list-style: none;
      font-size: 14px;
    }
    /*menu開合區塊*/
    #gooditm{
      display: none;
    }
    #knowledgeitm{
      display: none;
    }
    #mmbritm{
      display: none;
    }
    #footer_icon_area{
      height: auto;
    }
    #footer_icon_area>div{
      height: 30px;
    }
    #ig{
        background-image: url('../image/home/iocn_hp_RWD_phone_grid.png');
        background-repeat: no-repeat;
    }
    #fb{
        height: 50px;
        background-image: url('../image/home/icon2_hp_RWD_phone_grid.png');
        background-repeat: no-repeat;
        background-position: center;
    }
    #yt{
        background-image: url('../image/home/icon3_hp_RWD_phone.png');
        background-repeat: no-repeat;
    }
    #footer_right_area{
        color: white;
        font-size: 12px;
        text-align: center;
        padding-top: 10px;
    }
    /*手機板首頁大圖*/
    #home_banner{
      overflow: hidden;
      height: 377px;
      background-image: url('../image/home/BN_we_hp_RWD_phone_grid.jpg');
      background-size: 660px 377px;
      background-repeat: no-repeat;
      background-position:center -1px;
      background-color: #350335;
    }
    #home_ifo_area{
      padding-right: 0px;
      padding-left: 0px;
    }
    #minfo{
      min-height: auto;
      background-image: url('../image/home/BN2_we_hp_RWD_phone_grid.jpg');
      background-size: 769px 211px;
      background-repeat: no-repeat;
      background-position: center -1px; 
    }
    #minfotxt{
      min-height: auto;
      background-color: #350335;
      background-image: url('../image/home/aboutus_we_hp_RWD_phone_grid.png');
      background-position: center 10px;
      background-repeat: no-repeat;
      padding-bottom: 10px;
    }
    #minfotxt>div{
      height: auto;
      color:white;
      margin-top: 85px;
      
    }
    #home_slider{
      height: 520px;
    }
    .slider_pic{
      width: 100%;
      height: 400px;
      /*background-image: url('../image/home/wine_we_hp_RWD_phone_grid.png');*/
      background-repeat: no-repeat;
      background-position: center;
    }
    .slider_pic>img{
      margin-left: calc(50% - 90px);
    }
    .slider_txt{
      color: #752761;
      text-align: center;
    }
    .slider_txt>p{
      margin-top: 30px;
    }
    .slider_txt>div{
      display: none;
    }
    #ifo_pic_area{
      display: none;
    } 
    #partner{
      display: none;
    }
    #mnews{
      padding-right: 0px;
      padding-left: 0px;
      height: auto;
    }
    #mnewstxt{
      height: auto;
      padding-right: 10%;
      padding-left: 10%;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color:#aa779d;
      color: white;
      font-family: '微軟正黑體'; 
    }   

    /*新footer*/
    #footer_area{
      border:1px solid black;
      height: auto;
      background-color: #5c147c;
      padding-top: 20px;
      padding-bottom: 60px;
    }
    /* footer logo */
    #newFooterPic{
      height: 200px;
    }
    #newFooterPic>img {
         width: 80%;
         margin-left: calc(10%);
         max-height: 100%;
         object-fit: contain;
    }
    /* footer 分隔線 */
    #newFooterline{
      border-bottom: 2px solid white;
    }
    /* footer list */
    .newFooterMenu ul{
      font-weight: 900;
      font-size: 20px;
      color: white;
      height: auto;
    }
    .newFooterMenu ul li,.newFooterMenu ul li a{
       list-style: none;
       color: #cccccc;
       font-size: 14px;
    }
    .newFooterMenu ul>li:first-child{
        margin-top: 10px;
    }

}
@media (min-width: 992px) and (max-width: 1500px)  {
  #allBox{
    background-color: #fdfbf1;
  }
  /*禁止手機板區塊*/
  #minfo,#minfotxt,#mnews,#mnewstxt{
    display: none;
  }
      #alert{
      position: fixed;
      width: 100%;
      height: 70px;
      background: url('../image/home/warning_web.jpg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      bottom: 0;
      right: 0;
      background-color: #250526;
      z-index: 20;
    }
  #m_menu,#m_menu_body{
        display: none;
  }
	#row_content{
		height: 88px;
		background-color: rgba(204,204,204,0);
		z-index: 2;
		position: absolute;
		padding-left: 60px;
	}
	#home_banner{
		height:600px;
		background-image: url('../image/home/bn.jpg');
		background-repeat: no-repeat;
		background-size:cover;
	}
  #home_banner{
    padding: 0px;
    height: 600px;
  }
  #home_banner>div{
    height: 100%;
  }
	#logo_area{
		height: 88px;
	}
	#logo{
		height: 88px;
		width: 230px;
		background-image: url('../image/home/otherpage_logo.png');
    background-repeat: no-repeat;
    background-position: center;
	}
	.topmenu{
		height: 88px;
		padding-top: 20px;
		/*display:table;*/
	}
	.topmenu2{
		height: 88px;
	}
  .topmenu2{
  }  
  #menufb{
    
    background-image: url('../image/home/fb_icon2.png');
    background-repeat: no-repeat;
    background-position: left center;
    width: 35px;
    height: 35px;
    display: block;
    margin-top: calc(50% - 17.5px);
  }
	.topmenu a{
		font-size: 11pt;
		font-family: '微軟正黑體';
		font-weight: 900;
		/*display:table-cell; 
		vertical-align:middle;*/
		color:#752761;
		text-align: center;
	}

  .topmenu a:hover:after{
		content: '';
		display: block;
		width:100%;
		height: 2px;
		border-bottom: 4px solid #752761;
	}
    #login{
    	width: 73px;
    	height: 41px;
    	background-image: url('../image/home/login.jpg');
    }
    #join{
    	width: 73px;
    	height: 41px;
    	background-image: url('../image/home/join.jpg');
    }    
    #home_ifo_area{
    	height: 446px;
    	background-color: #fdfbf1;
    	padding: 0px;
    }
    #ifo_pic_area{
    	height: 306px;
    	/*background-color: red;*/
    }
    #ifo_pic{
    	width: 645px;
    	height: 342px;
    	background-image: url('../image/home/aboutus.png');
      background-position: center;
    	position: absolute;
    	z-index: 2;
    	top:-35px;
    }
    #ifo_pic>p{ 
      width: 100%; 
      color: white;
      position: absolute;
      bottom: 20px;
      font-size: 14px;
    }
    #ifo_pic>p:first-child{
      font-size: 20px;
      font-family: '微軟正黑體';
      font-weight: 900;
      bottom: 40px;
    }
    /* 8/16 新增 */
    #hnmore{
      width:100px;
      background-color: white;
      padding-left: 10px;
      padding-left: 10px;
      border: 1px solid #752761;
      border-radius: 10px;
      position: absolute;
      bottom: 40px;
      right: 40px;
      font-family: '微軟正黑體';
    }
    #partner{

    	margin-top: 76px;
    	height: 90px;
    	/*border-top: 2px solid #d4d4d4;
    	border-bottom: 2px solid #d4d4d4;*/
    }
    .partner_pic{
    	margin-top: 13px;
    	height: 64px;
    	background-image: url('../image/home/partner.png');
    }
    #footer_area{
    	/*height: 246px;*/
      height: 270px;
    	background-color: #5c147c;
    	padding: 0px;
    }
    #footer_logo_area{
    	padding: 0px;
    }
    #footer_pic{
      height: 80px;
    	width: 250px;

    	margin-top: 50px;
    	background-image: url('../image/home/fooder.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
    .icon{
    	width:30px;
    	height: 30px;
    	margin-top: 55px;
    	float: left;

    }
    #ig{
        background-image: url('../image/home/ig.png');
    }

    #fb{
        background-image: url('../image/home/fb.png');
        margin-left: 10px;
        margin-right: 10px;
    }

    #yt{
        background-image: url('../image/home/youtube.png');
    }
    #footer_right_area{
    	height: 141px;
        display:table;
    }
    #footer_right_area p {
    	color:white;
    	display:table-cell; 
		vertical-align:middle;
    }
    #home_slider{
        height: 355px;
    }
    .slider_class{
        height:431px;
        position:absolute;
        z-index: 2;
        top:-76px;
    }
    .slider_pic{
        float: left;
        width: 136px;
        height: 431px;
        margin: 0px;
        /*background-image:url('../image/home/wine.png');*/
    }
    .slider_pic2{
        float: left;
        width: 136px;
        height: 431px;
        margin: 0px;
        background-image:url('../image/home/wine2.png');      
    }
    .slider_pic3{        
        float: left;
        width: 136px;
        height: 431px;
        margin: 0px;
        background-image:url('../image/home/wine3.png');    
      }
    .slider_txt{
        float: left;
        width: calc(100% - 136px);
        height: auto;
        position: absolute;
        bottom: 2px;
        right: 0px;
        padding-left: 10%;
    }
    .slider_txt p{
        color:#752761;
        font-family: '微軟正黑體';
        font-size: 12pt;
        font-weight: 900;
    }

    .slider_txt div{
        text-align: center;
        padding: 10px 0px 10px 0px;
        width:50%;
        border:2px solid #752761;
        border-radius: 10px;
        color:#752761;
        font-family: '微軟正黑體';
        font-size: 12pt;
        font-weight: 900;
    }
    .slider_txt div:hover{
        animation-name: example;
        animation-duration: 0.4s;
        animation-fill-mode: forwards;
    }
    @keyframes example {
        from {background-color: rgba(0,0,0,0);color:#752761;}
        to {background-color: #752761;color:white;}
    }
    .partner_slide{
        height: 100% ;
    }
    .partner_item{
        margin-top:3px; 
        height: 80px !important;
        margin-right: 10px;
        
    }
    /*改版footer*/
    #footer_area{
      padding-top:30px;
      padding-bottom: 100px;
    }   
    #newFooterline{
      height: 100%;
    }
    #footer_area:after{
      content: '© 2017 Wealeternity Corporation. All Rights Reserved';
      color: white;
      position: absolute;
      z-index: 3;
      top:150px;
      right: 10px;
    }
    #newFooterline:after{
      display: block;
      position: absolute;
      content: '';
      height: 100%;
      width: 2px;
      background-color: white;
      left:calc(50% - 1px);
    }    
    .newFooterMenu ul{
      padding: 0px;
      font-size: 16px;
    } 
    .newFooterMenu ul li{
      list-style: none;
      font-size: 14px;
    }
   .newFooterMenu ul li:first-child{
      margin-top: 10px;
    }
    .newFooterMenu ul, .newFooterMenu ul li{
      color:white;
    }
    #newFooterPic>img {
         max-height: 270px;
         width: 60%;
         margin-left: 20%;
         object-fit: contain;
    }
}
@media (min-width: 1500px){
  #allBox{
    background-color: #fdfbf1;
  }  
  /*禁止手機板區塊*/
  #minfo,#minfotxt,#mnews,#mnewstxt{
    display: none;
  }
  #m_menu,#m_menu_body{
        display: none;
  }
  #alert{
      position: fixed;
      width: 100%;
      /*height: 152px; 原來高度*/
      height: 100px;
      background: url('../image/home/warning_1700.jpg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      bottom: 0;
      right: 0;
      background-color: #250526;
      z-index: 20;
  }
  #row_content{
    height: 88px;
    background-color: rgba(204,204,204,0.5);
    z-index: 2;
    position: absolute;
    padding-left: 60px;
  }
  #home_banner{
    
    background-image: url('../image/home/hp_1700_web-03.png');
    background-repeat: no-repeat;
    background-size:calc(100% + 2px) auto;
    background-position: -2px -100px;
  }
  #home_banner{
    padding: 0px;
    height: 800px;
  }
  #home_banner>div{
    height: 100%;
  }
  #logo_area{
    height: 88px;
  }
  #logo{
    height: 88px;
    width: 230px;
    background-image: url('../image/home/header_logo.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  .topmenu{
    height: 88px;
    padding-top: 20px;
    /*display:table;*/
  }
  .topmenu2{
    height: 88px;
  }
  .topmenu a{
    font-size: 11pt;
    font-family: '微軟正黑體';
    font-weight: 900;
    /*display:table-cell; 
    vertical-align:middle;*/
    color:#752761;
    text-align: center;
  }
  #menufb{
    background-image: url('../image/home/fb_icon2.png');
    background-repeat: no-repeat;
    background-position: left center;
    width: 35px;
    height: 35px;
    display: block;
    margin-top: calc(50% - 17.5px);
  }
    .topmenu a:hover:after{
    content: '';
    display: block;
    width:100%;
    height: 2px;
    border-bottom: 4px solid #752761;
  }
    #login{
      width: 73px;
      height: 41px;
      background-image: url('../image/home/login.jpg');
    }
    #join{
      width: 73px;
      height: 41px;
      background-image: url('../image/home/join.jpg');
    }    
    #home_ifo_area{
      height: 546px;
      background-color: #fdfbf1;
      padding: 0px;
    }
    #ifo_pic_area{
      height: 546px;
      padding-left: 10%;
      /*background-color: red;*/
    }
    #ifo_pic{
      width: 70%;
      height: 574px;
      background-image: url('../image/home/hp_1700_web-10.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      z-index: 2;
      top:-35px;
    }
    #ifo_pic>p{ 
      width: 100%; 
      color: white;
      position: absolute;
      bottom: 20px;
      font-size: 14px;
    }
    #ifo_pic>p:first-child{
      font-size: 20px;
      font-family: '微軟正黑體';
      font-weight: 900;
      bottom: 40px;
    }
    /* 8/16 新增 */
    #hnmore{
      width:100px;
      background-color: white;
      padding-left: 10px;
      padding-left: 10px;
      border: 1px solid #752761;
      border-radius: 10px;
      position: absolute;
      bottom: 40px;
      right: 40px;
      font-family: '微軟正黑體';
    }
    #partner{
      margin-top: 76px;
      margin-bottom: 40px;
      height: 90px;
      /*border-top: 2px solid #d4d4d4;
      border-bottom: 2px solid #d4d4d4;*/
    }
    .partner_pic{
      margin-top: 13px;
      height: 64px;
      background-image: url('../image/home/partner.png');
    }
    #footer_area{
      /*margin-top: 300px;*/
      height: 293px;

      background-color: #752761;
      padding: 0px;
    }
    #footer_logo_area{
      padding: 0px;
    }
    #footer_pic{
      height: 80px;
      width: 250px;

      margin-top: 50px;
      background-image: url('../image/home/fooder.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
    .icon{
      width:30px;
      height: 30px;
      margin-top: 55px;
      float: left;

    }
    #ig{
        background-image: url('../image/home/ig.png');
    }

    #fb{
        background-image: url('../image/home/fb.png');
        margin-left: 10px;
        margin-right: 10px;
    }

    #yt{
        background-image: url('../image/home/youtube.png');
    }
    #footer_right_area{
      height: 141px;
        display:table;
    }
    #footer_right_area p {
      color:white;
      display:table-cell; 
    vertical-align:middle;
    }
    #home_slider{
        /*height: 355px;*/
        height: 555px;
    }
    .slider_class{
        height:431px;
        position:absolute;
        z-index: 2;
        top:-76px;
    }
    .slider_pic{
        float: left;
        width: 210px;
        /*height: 620px;*/
        height: 500px;
        margin: 0px;
        /*background-image:url('../image/home/wine.png');*/
        background-size: 210px 620px;
    }
    .slider_pic2{
        float: left;
        width: 210px;
        height: 620px;
        margin: 0px;
        background-image:url('../image/home/wine2.png');
        background-size: 210px 620px;      
    }
    .slider_pic3{        
        float: left;
        width: 210px;
        height: 620px;
        margin: 0px;
        background-image:url('../image/home/wine3.png');    
        background-size: 210px 620px;  
      }
    .slider_txt{
        float: left;
        width: calc(100% - 136px);
        height: auto;
        position: absolute;
        bottom: 50px;
        right: 0px;
        padding-left: 30%;
    }
    .slider_txt p{
        color:#752761;
        font-family: '微軟正黑體';
        font-size: 12pt;
        font-weight: 900;
    }

    .slider_txt div{
        text-align: center;
        padding: 10px 0px 10px 0px;
        width:50%;
        border:2px solid #752761;
        border-radius: 10px;
        color:#752761;
        font-family: '微軟正黑體';
        font-size: 12pt;
        font-weight: 900;
    }
    .partner_slide{
        height: 100% ;
    }
    .partner_item{
        margin-top:3px; 
        height: 80px !important;
        margin-right: 10px;
        
    }  
    .footerLi{
      color: red!important;
    }
    #newFooterPic>img {
         max-height: 270px;
         width: 60%;
         margin-left: 20%;
         object-fit: contain;
    }
}