/* 由於只有首頁的menu需要半透明,所以除了首頁之外的css都要先解除該設定 */
#row_content{
	position: static;
}/*
@media (max-width: 768px){
}*/
@media (min-width: 0px) and (max-width: 992px) {
    body{
        font-family: '微軟正黑體';
    }
    #goods_menu{
        height: 76px;
    }
    #goods_item1{
        text-align: center;
    }
    #goods_item2{
        text-align: center;
    }
    #goods_item3{
        text-align: left;  
    }
    #goods_item1>a,
    #goods_item2>a,
    #goods_item3>a{
        color:#752761;
        font-size: 14px;
        font-weight: 900;
        line-height: 76px;
    }
    #goods_list{
        padding-right: 0px;
        padding-left: 0px;
        overflow: hidden;
    }
    .goods_list_item,.goods_list_item2{
        /*margin-bottom: 60px; */
        background-color: #dadada;
        height: 300px;
        padding-right: 0px;
        padding-left: 0px;
        /*background-color: red;*/
    }
    .goods_list_item2{
        background-color: white;
    }
    /*
    .goods_list_item::after{
        content: "";
        margin-left: 0 auto;
        position: absolute;
        bottom:-60px;
        left: 0;
        z-index: 0;
        border-top:60px solid gray;
        border-left:50% solid gray;
        border-color: #dadada white transparent transparent;
        border-style: solid solid solid solid;
        border-width: 60px 992px 0px 0px;
        height: 0px;
        width: 0px;
    }
    .goods_list_item2::after{
        content: "";
        margin-left: 0 auto;
        position: absolute;
        bottom:-60px;
        left: 0;
        z-index: 0;
        border-top:60px solid gray;
        border-left:50% solid gray;
        border-color: white transparent transparent #dadada;
        border-style: solid solid solid solid;
        border-width: 60px 0px 0px 992px;
        height: 0px;
        width: 0px;
    }    
    */
    .goodspic{
        position: absolute;
        top:0px;
        left:10px;
        transform: rotate(45deg);
    }
    .winpic{
        height: 100%;
    }
    .ppic{
        width: 100px;
        height: 250px;
    }
    .wpic{
        display: none;
    }
    .goods_txt_area{
        height: 100%;
    }
    .goods_txt{
        height: 120px;
        position: absolute;
        bottom: 0px;
        font-size: 12px;
        color:#752761;
    }
    .wmore{
        display: none;
    }
    .goods_btn a:first-child{
        display: none;
    }
    .pmore{
        display: block;
        line-height: 160px;
        color:#752761!important;
    }
    .wwl{
        display: none;
    }
    .tab-pane{
        padding: 0px!important;
    }    

    /* 新商品 */
    .myselected{
        color:#752761!important;
        padding-left: 5px;
        padding-right: 5px;
        border-left:  2px solid #752761;
        border-right: 2px solid #752761;
    }
    .active > a {
        color:#752761!important;
        padding-left: 5px;
        padding-right: 5px;
        border-left:  2px solid #752761;
        border-right: 2px solid #752761;        
    }
    .wmore:hover{
        animation: goodsbtn 0.6s;
        animation-fill-mode: forwards;
    }
    .newGoodTxt{
        color: #752761!important;
        height: 100px;
        overflow:scroll;
    }
    .winerybanner{
        height: 60px;
    }
    .winerybanner img{
        
        object-fit:contain;
        width: 100%;
    }    
}
@media (min-width: 992px) {
    .pwl{
        display: none;
    }
    .ppic,
    .pmore{
        display: none;
    }
	#goods_menu{
		/*background-color:rgba(204,204,204,0.5);*/
		margin-top: 14px;
		height:60px;
        border-bottom: 2px solid #752761;

	}
    /* 新商品 */
    #goods_menu >div >a{
        color:gray;
    }
    .myselected{
        color:#752761!important;
        padding-left: 5px;
        padding-right: 5px;
        border-left:  2px solid #752761;
        border-right: 2px solid #752761;
    }
    .active > a {
        color:#752761!important;
        padding-left: 5px;
        padding-right: 5px;
        border-left:  2px solid #752761;
        border-right: 2px solid #752761;        
    }
    .wmore:hover{
        animation: goodsbtn 0.6s;
        animation-fill-mode: forwards;
    }
    @keyframes goodsbtn{
        from {background: rgba(0,0,0,0);color:#752761;}
        to {background: #752761;color:white;}
    }

	#goods_item1,
	#goods_item2,
	#goods_item3{
		margin-top: 6px;
        font-size: 14pt;
        font-weight: 900;
        font-family: '微軟正黑體';
        color: gray!important;
	}

    .allitem p{
    	width: auto;
    }
	.allitem a:hover{
		/*border-bottom:2px solid #350335;*/
	}
	#glhead{
		height: 165px;
	}
	#tab0,#tab1,#tab2{
		background-color: #fdfbf1;

		height: auto;
		padding: 0px;
	}
    .tab-pane{
        padding: 0px!important;
    }
	.goods_list_item,.goods_list_item2{
		height: 306px;
		padding: 0px;
	}
	.test{
		height: 100%;
	}
	.goodspic{
		position: absolute;
		top:-90px;
		left:-80px;
		transform: rotate(45deg);
	}
	.goodspic:hover{
		animation:mymove 1s infinite;
		animation-iteration-count:1;
		animation-fill-mode: forwards;
	}
	@keyframes mymove{
        from {left:-80px;top:-90px;}
        to {left:20px;top:-190px;}
    }
    .goods_mdline_area{
    	height: 100%;
    }
    .goods_mdline{
    	height: 100%;
    	border-top: 2px solid #752761;
    	bottom: 0px;
    	position: absolute;
    }
    .goods_txt_area{
    	height: 100%;
    	padding:0px;
    }
    .goods_txt{
    	height: 40%;
    	color:#752761;
    	font-size: 18px;
    	font-weight: 900;
    	font-family: '微軟正黑體';
    	position: absolute;

    }
    .goods_subtxt{
    	height: 20%;
    	font-size: 14px;
    	color: gray;
    	position: absolute;
    	bottom: 0px;
    	padding-bottom: 0px;
    	margin: 0px;
    }
    .goods_btn_area{
    	height: 100%;
    }
    .goods_btn{
    	height: 40%;
    	position: absolute;
    }
    .goods_btn a{
        color: #752761;
    	position: absolute;
    	bottom: 10%;    	
    	font-size: 14px;
    	border-radius:5px;
    	border:2px solid #752761;
    	padding:2px;
    	padding-right: 5px;
    	padding-left: 5px;
    	font-family: '微軟正黑體';
    	position: absolute;
    	bottom: 0px;

    }
    .newGoodTxt{
        color: #752761!important;
        height: 100px;
        overflow:scroll;
    }
    #detail_body>ul>.panel{
        border:0px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0);
        box-shadow: 0 1px 1px rgba(0,0,0,0); 
    }
    .winerybanner{
        height: 60px;
    }
    .winerybanner img{
        
        object-fit:contain;
        width: 100%;
    }
}