/* 由於只有首頁的menu需要半透明,所以除了首頁之外的css都要先解除該設定 */
#row_content{
	position: static;
}
.ui-loader{
    display:none!important;
}

/*
@media (max-width: 768px){
}*/
@media (min-width: 0px) and (max-width: 992px) {
    /*電腦版隱藏*/
    #wwine_pic,
    #detail_mid,
    #txt_name,
    #more,.wicon,.btmtxt{
        display: none;
    }
    body{
        font-family: '微軟正黑體';
    }
    #detail_area{
        overflow: hidden;
        padding-left: 0px;
        padding-right: 0px;
    }
    #detail_top{
        height: auto;
        padding-left: 0px;
        padding-right: 0px;
        overflow: hidden;     
    }
    #detail_menuz, #detail_body{
        display: none;
    }
    #pm_main{

        position: absolute;
        z-index: 1;
        margin-top: 40px;
        height: 500px;
        width: 250px;
        left: -250px;
        background-color:rgba(117,39,97,0.7);

    }
    .nav{
        height: 100%;
        overflow-y:auto;
    }
    #pm_label{
        width: 80px;
        height: 80px;
        border-radius: 0px 10px 10px 0px;
        background-color:rgba(117,39,97,0.7);
        position:absolute;
        top:0px;
        left: 250px;        
    }
    .pm_out{
        background-image: url('../image/detail/right-arrow.png');
        background-size: 32px 32px;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .pm_in{
        background-image: url('../image/detail/left-arrow.png');
        background-size: 32px 32px;
        background-position: center center;
        background-repeat: no-repeat;
    }    
    .nav::-webkit-scrollbar-track{
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #ffffff;
    }

    .nav::-webkit-scrollbar{
        width:6px;
        background-color: #F5F5F5;
    }
    .nav::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: rgba(0,0,0,0);
    }
    .pnav>li>a:hover, .pnav>li>a:focus{
        background-color: rgba(0,0,0,0);
    }
    .ppanel{
        cursor: pointer;
    }
    .ppanel>ul>li{
        font-size: 12px;
        color: gray;
    }
    .ppanel>span{
        color: white;
    }
    .ppanel>span>a{
        font-size: 18px;
        font-weight: 900;
        font-family: '微軟正黑體';
        color:white!important;

    }
    .ppanel>ul>li>a{
        color:white!important;
    }
    ul,li{
        list-style: none;
    }
    .ppanel>ul>li{
        border-bottom: 1px solid white;
        margin-bottom: 10px;
    }
    #detail_menu{
        display: none;
    }
    #detail_pic{
        text-align: center;
    }
    #pwine_title{
        font-size: 20px;
        font-weight: 900;
        color:#350335;
        margin-top: 40px;
    }
    #pwine_pic{
        margin-top: 20px;
    }
    #pmore{

    }
    #pmore>div{
        margin: 0 auto;
        width: 160px;
        padding: 10px;
        color:#752761;
        border:1px solid #752761;
        border-radius: 5px;
    }
    #detail_txt{
        margin-top: 40px;
        padding-top: 40px;
        height: auto;
        background-color: #752761;
        color:white;
        font-size: 16px;
        padding-left: 0px;
        padding-right: 0px;
    }
    #txt_ifo{
        padding-left: 10%;
        padding-left: 10%;
        margin-top: 25px;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: white;
        color: #752761;
    }
    #detail_btm{
        height: 150px;
        background-color: #350335;
    }
    .picon{
        margin-top: 30px;
        width: 60px;
        justify-content: center!important;
        vertical-align : middle!important;

    }
    .ui-link{
    color: whitle!important;
    }
}
@media (min-width: 992px) and (max-width: 1500px) {
    /*手機板取消區塊*/
    #pwine_title,
    #pwine_pic,
    #pmore,
    .picon{
        display: none;
    }
    .pnav{
        display: none;
    }
    body{
        font-family:'微軟正黑體';
    }
    .ui-link{
        color: #752761!important;
    }
    #pm_main{
        display: none;
    }
    #firstLink>li,#secondLink>li,#thirdLink>li{
        margin-bottom: 10px;
    }
	#detail_area{
		padding-left: 0px;
		padding-right: 0px;
	}
    #detail_top{
    	margin-top: 60px;
    	height: 550px;

    }
    #detail_menu{
    	overflow-y: auto;
    	height: 100%;
    	padding-right: 0px;
    	padding-left: 0px;
    }
    #detail_menu::-webkit-scrollbar-track{
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	    border-radius: 10px;
	    background-color: #ffffff;
    }

    #detail_menu::-webkit-scrollbar{
	    width:6px;
	    background-color: #F5F5F5;
    }
    #detail_menu::-webkit-scrollbar-thumb
    {
	    border-radius: 10px;
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	    background-color: rgba(0,0,0,0);
    }
    #detail_pic{
    	text-align:center; 
    	height: 100%;

    }
    #detail_txt{
    	height: 100%;
    	padding-right: 0px;
    	padding-left: 0px;
    }
    .nav>li>a:hover, .nav>li>a:focus{
    	background-color: rgba(0,0,0,0);
    }
    .nav>span{
        width: 100%;
        font-size: 18px;
        font-weight:900;
    }
    .panel{
    	cursor: pointer;
    }
    .panel>ul>li{
    	font-size: 12px;
    	color: gray;
    }
    .panel>span{
    	color: #752761;
    }
    .panel>span>a{
    	font-size: 18px;
    	font-weight: 900;
    	font-family: '微軟正黑體';
    	color:#752761;

    }
    ul,li{
    	list-style: none;
    }
    /*文字部分*/
    #txt_name{
    	height: 90px;
    	color:#350335;
    	font-size: 20px;
    	font-weight: 900;
    	font-family: '微軟正黑體';

    }
    #txt_des{
    	height: 110px;
    	margin-top: 65px;
        color:#752761;
        overflow-y: auto;
        /*font-size: 11px;*/
    }
    #txt_des::-webkit-scrollbar-track{
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #ffffff;
    }

    #txt_des::-webkit-scrollbar{
        width:6px;
        background-color: #F5F5F5;
    }
    #txt_des::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: rgba(0,0,0,0);
    }   
    #txt_ifo{
    	height: 220px;
    	margin-top: 20px;
        color:#752761;
    }
    #more{
    	padding-left: 10px;
    	padding-right: 10px;
    	color:#752761;
    	border:1px solid #752761;
    	border-radius: 5px;
        position: absolute;
    	bottom:0px;
    }
    #detail_mid{
    	margin-top: 40px;
    	height: 200px;
    }
    #mid_pic{
    	height: 100%;
    	padding-right: 0px;
    	padding-left: 0px;
    }
    #mid_txt{
    	height: 100%;
    	padding-right: 0px;
    	padding-left: 0px;
        color:#752761;
    }
    #detail_btm{
    	margin-top: 20px;
    	background-color:#350335;
    	padding-top: 10px;
    	padding-bottom: 10px;
    }
    .btmtxt{
    	padding-right: 0px;
    	padding-left: 0px;
    	padding-top:40px;   
    }
    .btmtxt p{
    	height: 20px;
    	margin: 0px;
    	font-size: 16px;
    	font-family: '微軟正黑體';
    	font-weight: 900;
    	color: white;
    }

}
@media (min-width: 1500px){
    /*手機板取消區塊*/
    #pwine_title,
    #pwine_pic,
    #pmore,
    .picon{
        display: none;
    }
    .pnav{
        display: none;
    }
    body{
        font-family:'微軟正黑體';
    }
    #pm_main{
        display: none;
    }
    #firstLink>li,#secondLink>li,#thirdLink>li{
        margin-bottom: 10px;
    }
    #detail_area{
        padding-left: 0px;
        padding-right: 0px;
    }
    #detail_top{
        margin-top: 60px;
        height: 550px;

    }
    #detail_menu{
        overflow-y: auto;
        height: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }
    #detail_menu::-webkit-scrollbar-track{
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #ffffff;
    }

    #detail_menu::-webkit-scrollbar{
        width:6px;
        background-color: #F5F5F5;
    }
    #detail_menu::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: rgba(0,0,0,0);
    }
    #detail_pic{
        text-align:center; 
        height: 100%;

    }
    #detail_txt{
        height: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }
    .nav>li>a:hover, .nav>li>a:focus{
        background-color: rgba(0,0,0,0);
    }
    .nav>span{
        width: 100%;
        font-size: 18px;
        font-weight:900;
    }
    .panel{
        cursor: pointer;
    }
    .panel>ul>li{
        font-size: 12px;
        color: gray;
    }
    .panel>span{
        color: #752761;
    }
    .panel>span>a{
        font-size: 18px;
        font-weight: 900;
        font-family: '微軟正黑體';
        color:#752761;

    }
    ul,li{
        list-style: none;
    }
    /*文字部分*/
    #txt_name{
        height: 90px;
        color:#350335;
        font-size: 20px;
        font-weight: 900;
        font-family: '微軟正黑體';

    }
    #txt_des{
        height: 110px;
        margin-top: 65px;
        color:#752761;
        overflow-y: auto;
        /*font-size: 11px;*/
    }
    #txt_des::-webkit-scrollbar-track{
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #ffffff;
    }

    #txt_des::-webkit-scrollbar{
        width:6px;
        background-color: #F5F5F5;
    }
    #txt_des::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: rgba(0,0,0,0);
    }   
    #txt_ifo{
        height: 220px;
        margin-top: 20px;
        color:#752761;
    }
    #more{
        padding-left: 10px;
        padding-right: 10px;
        color:#752761;
        border:1px solid #752761;
        border-radius: 5px;
        position: absolute;
        bottom:0px;
    }
    #detail_mid{
        margin-top: 40px;
        height: 300px;
        margin-bottom: 40px;
    }
    #mid_pic{
        height: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }
    #mid_txt{
        height: 100%;
        padding-right: 0px;
        padding-left: 0px;
        color:#752761;
    }
    #detail_btm{
        margin-top: 20px;
        background-color:#350335;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .btmtxt{
        padding-right: 0px;
        padding-left: 0px;
        padding-top:40px;   
    }
    .btmtxt p{
        height: 20px;
        margin: 0px;
        font-size: 16px;
        font-family: '微軟正黑體';
        font-weight: 900;
        color: white;
    }    
} 