body{
	font-family: 'Noto Sans TC', sans-serif; 
}
@media(max-width: 768px){
	#headbar{
	    height: 60px;
	    border-bottom: 1px solid gray;	
	}
    #join_account{

    }
}
@media(min-width: 768px) and (max-width: 992px){
	#headbar{
	    height: 60px;
	    border-bottom: 1px solid gray;	
	}
    #join_account{
    	height: 100%;
    	line-height:100%;
    }
}
@media(min-width: 992px){
	#headbar{
	    height: 60px;
	    border-bottom: 1px solid gray;	
	}    
    #join_account{
    	font-size: 20px;
    	height: 60px;
    	line-height:60px;
    	font-weight: 600;	
    }
}
